{% extends 'portal/base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/css/index.css' %}">
{% endblock css %}
{% block title %}Home{% endblock title %}
{% block navigation %}
<div class='container shadow my-3' style='border-radius: 1.5em;'>
    <ul class="nav justify-content-center my-3">
        <li class="nav-item py-3">
            <a class="nav-link" aria-current="page" href="/"><strong>Home</strong></a>
        </li>
        <li class="nav-item py-3">
            <a class="nav-link" href="/jobs"><strong>Jobs</strong></a>
        </li>
        <li class="nav-item py-3">
            <a class="nav-link" href="#"><strong>Contact Us</strong></a>
        </li>
        <li class="nav-item py-3">
            <a class="nav-link"><strong>About Us</strong></a>
        </li>

        <li class="nav-item py-3">
            <a type="button" href='/signup' class="register-btn py-2">Register</a>
            <a type="button" href='/login' class="login-btn py-2">Login</a>
        </li>
    </ul>
</div>
{% endblock navigation %}

{% block content %}
<div class='container shadow' style='border-radius: 1.5em;'>
    <div class="text-center my-5 py-5">
        <h1><strong>Welcome jobseeker!</strong></h1>
    </div>

    <div class='container my-3'>
        <h3 class='text-center'><strong>Find the job with four easy Steps.</strong></h3>
    </div>


    <div class="row row-cols-1 row-cols-md-2 g-4 my-5">
        <div class="col">
            <div class="card border-0 rounded-circle " style="height:80%;">
                <img src="{% static 'portal/img/apply.gif' %}" class="card-img-top image_size rounded-circle"
                     alt="image">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Step:1 Apply the jobs</strong></h5>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 rounded-circle" style="height:80%;">
                <img src="{% static 'portal/img/shortlist.gif' %}" class="card-img-top image_size rounded-circle"
                     alt="image">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Step: 2 Get the shortlisted</strong></h5>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 rounded-circle" style=" height:80%;">
                <img src="{% static 'portal/img/interview.gif' %}" class="card-img-top image_size rounded-circle"
                     alt="image">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Step: 3 Attand the Interviews</strong></h5>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 rounded-circle" style=" height:80%;">
                <img src="{% static 'portal/img/hired.gif' %}" class="card-img-top image_size rounded-circle"
                     alt="image">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Step: 4 Get Hired </strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
     