
    <div class="text-center py-3">
        <h2><strong>Hello Admin {{name}}</strong></h2>
    </div>
    <div>
        <h3>Total job created by You:&nbsp {{jobs|length}}</h3>
        {% for applicant in applicants  %}
       
                {% for app in applicant %}
                {% if forloop.counter == 1 %}
                <h4 class="text-primary">{{app.job.title}}</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th class='col-1'>Unique ID</th>
                          <th class='col-2'>Applicant Name</th>
                          <th class='col-2'>Email</th>
                          <th class='col-2'>Job Title</th>
                          <th class='col-2'>Resume</th>
                        </tr>
                      </thead>
                      <tbody>
                {% endif %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{app.user.first_name|capfirst}}</td>
                  <td>{{app.user.email}}</td>
                  <td>{{app.job.title}}</td>
                  <td><a href="{% url 'openpdf' app.id %}" class="btn btn-success">Resume</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
