<div class='container my-3 py-3' style='border-radius: 1.5em;'>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for job in employer_job %}
        <div class="col">
            <div class="card h-100 text-white mb-3" style="max-width: 18rem; background-color:#960087;">
                <div class="card-header text-center">
                    {% if job.job_type == '1' %}
                    Full Time
                    {% elif job.job_type == '2' %}
                    Part Time
                    {% else %}
                    Internship
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{job.title}}</h5>
                    <p class="card-text justify-content-center"><strong>Job Description:</strong>&nbsp{{job.description|safe|truncatechars:200}}</p>
                
                    <a href="{% url 'viewjob' job.id %}" class="btn btn-success mx-3">View</a>
                    <a href="{% url 'editjob' job.id %}" class="btn btn-primary mx-3">Edit</a>
                </div>
                <div class="card-footer">
                    <small class="text-white">Published on: {{job.timestamp}}</small>
                </div>
            </div>

        </div>

        {% endfor %}
    </div>
</div>